{% extends 'layout.html' %}

{% block body%}
	{% if messages != "none"%}
	<div class="card p-2 mt-4 chat">
		<div class="message_holder">
	    	{% for message in messages %}
	    		{% for user in users%}
		    		{% if user.id == message.sender_id %}
		    			<div><b>{{user.username}}</b>: {{message.message}}</div>
		    		{% endif %}
	    		{% endfor %}
	    	{% endfor %}
	    </div>
	    <div class="form_holder">
	    	<form action="" method="POST" id="message_form" class="mt-2">
    			<textarea class="form-control message float-left"></textarea>
			  	<button type="submit" class="btn btn-success float-right mt-2">SEND MESSAGE</button>
			</form>	    	
	    </div>
	 </div>
	{% endif %}
	{% if messages == 'none' %}
		{% if profile != Null and users != Null and likes != Null %}
			<h5>You currently have ho chats :(</h5>
		{% else %}
			{% if session.profile_pic != "static/img/default_profile.jpg" %}
				<div class="row">
				{% for profile in profiles %}
						{% for user in users %}
							{% if profile.id == user.like_id and profile.blocked == False %}
								{% for like in likes %}
									{% if user.like_id == like.user_id%}
										<div class="profile-card col-12 col-md-6 border-warning border-left mt-3">
											<div class="mt-3 mr-5">
												<img class="card-img float-left mt-2 ml-5 img-responsive" src="../{{profile.profile_pic}}">
												<div class="text-justify float-right mr-4 ">
												    <a href="/profile/{{profile.username}}" class="text-uppercase text-center">{{profile.name}} {{profile.last_name}}</a>{% if profile.logout == None %} <small class="text-success"> ONLINE </small>{% endif %}<br>
											    	<a class="btn btn-success" href="/chats/{{profile.username}}" role="button">START CHAT</a>
												</div>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
				{% endfor %}
				</div>
			{% else %}
				<h5>Sorry but you cannot start a chat until you upload a profile picture</h5>
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock %}