{% extends 'layout.html' %}

{% block body%}
	{% if messages != "none"%}
	<h1 class="text-center text-uppercase m-3">Chat with <a href="/profile/{{uid.username}}">{{uid.username}}</a></h1>
	<input id="chat-with" val="{{uid.username}}" hidden>
	<div class="card p-2 mt-4 chat outer">
	    <div class="form_holder">
	    	<form action="" method="POST" id="message_form" class="mt-2">
    			<textarea data-emojiable="true" id="message-textarea" pattern="[\w\s.,()?]" class="form-control message position-relative"></textarea>
			  	<button type="submit" class="btn btn-success float-right mt-2 mb-3">SEND MESSAGE</button>
			</form> 	
	    </div>
	    <div class="clearfix"></div>
	    <div class="message_holder">
	    	{% for message in messages %}
	    		{% for user in users%}
		    		{% if user.id == message.sender_id %}
		    			{% if message.sender_id == session.id %}
		    			<div class="m-1">
			    			<div class="float-left text-message"><b class="text-success">{{user.username}}</b>: {{message.message}}</div>
			    			<div class="float-right text-lowercase text-muted">{{message.msg_sent}}</div>
			    			<div class="clearfix"></div>
			    		</div>
			    		{% else %}
			    		<div class="m-1">
			    			<div class="float-left text-message"><b class="text-info">{{user.username}}</b>: {{message.message}}</div>
			    			<div class="float-right text-lowercase text-muted">{{message.msg_sent}}</div>
			    			<div class="clearfix"></div>
			    		</div>
			    		{% endif %}
		    		{% endif %}
	    		{% endfor %}
	    	{% endfor %}
	    </div>
	    </div>
		{% if pages|length > 1 %}
			<nav class="mt-3">
			  	<ul class="pagination">
			    	{% for page in pages %}
			    		<li class="page-item"><a class="page-link text-warning" href="/chats/{{uid.username}}/{{page}}">{{page}}</a></li>
			   		{% endfor %}
			  	</ul>
			</nav>
		{% endif %}
	 </div>
	{% endif %}
	{% if messages == 'none' %}
		{% if profile != Null and users != Null and likes != Null %}
			<h5>You currently have ho chats :(</h5>
		{% else %}
			{% if session.profile_pic != "static/img/default_profile.jpg" %}
				<div class="row">
				{% for profile in profiles %}
						{% for user in users %}
							{% if profile.id == user.like_id and profile.blocked == False %}
								{% for like in likes %}
									{% if user.like_id == like.user_id%}
										<div class="profile-card col-12 col-md-6 border-warning border-left mt-3">
											<div class="mt-3 mr-5">
												<img class="card-img float-left mt-2 ml-5 img-responsive" src="../{{profile.profile_pic}}">
												<div class="text-justify float-right mr-4 ">
												    <a href="/profile/{{profile.username}}" class="text-uppercase text-center">{{profile.name}} {{profile.last_name}}</a>{% if profile.logout == None %} <small class="text-success"> ONLINE </small>{% endif %}<br>
											    	<a class="btn btn-success" href="/chats/{{profile.username}}" role="button">START CHAT</a>
												</div>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
				{% endfor %}
				</div>
			{% else %}
				<h5>Sorry but you cannot start a chat until you upload a profile picture</h5>
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock %}