{% extends 'layout.html' %}

{% block body%}

<div class="card card-body profile-blocks mt-5">
	<form method="POST" id="change_account">
	<h1>Edit the info about you</h1>
	<div id="successAlertAccount" class="alert alert-success hidden-alert" role="alert"></div>
	<div id="errorAlertAccount" class="alert alert-danger hidden-alert" role="alert"></div>
	<div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="name">Name</label>
	      <input name="name" type="text" class="form-control" id="name" placeholder="Name" pattern="[a-zA-Z0-9_-]{1,12}" title="must be alphanumeric in 1-12 chars" value="{{ details.name }}" required>
	    </div>
	    <div class="form-group col-md-6">
	      <label for="lastname">Last name</label>
	      <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Last name" pattern="[a-zA-Z0-9_-]{1,50}" title="must be alphanumeric in 1-50 chars" value="{{ details.last_name }}" required>
	    </div>
	    <div class="form-group col-md-6">
	      <label for="username">Username</label>
	      <input name="username" type="text" class="form-control" id="username" placeholder="Username" pattern="[a-zA-Z0-9_-]{3,12}" title="must be alphanumeric in 3-12 chars" value="{{ details.username }}" required>
	    </div>
	    <div class="form-group col-md-6">
	      <label for="email">Email</label>
	      <input name="email" type="email" class="form-control" id="email" placeholder="Email" pattern="[a-z0-9._+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" minlength="5" value="{{ details.email }}" required>
	    </div>
	</div>
	<button type="submit" class="btn btn-warning btn-lg btn-block">Submit changes</button>
	</form>
</div>

<div class="card card-body profile-blocks mt-5">
	<button type="button" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-lg btn-block">Delete account</button>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you totally 1000% sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Whoa, no.</button>
        <button id="delete_account" type="button" class="btn btn-danger">Yes, delete it!</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}