{% extends 'layout.html' %}

{% block body%}

<div class="container">
	<div class="row">
		<div class="col-12 col-md-6">
			<table class="table table-borderless mt-3">
			<h2 class="mt-5">Users who like you</h2>
			  	<thead>
			   		<tr>
			      		<th class="col-md-auto">Username</th>
			    	</tr>
			  	</thead>
				<tbody class="long">
				{% for like in recieved_likes %}
					<tr>
				    	<td class="col-md-auto"><a href="/profile/{{like[0]}}">{{like[0]}}</a></td>
				    </tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="col-12 col-md-6">
			<table class="table table-borderless mt-3">
				<h2 class="mt-5">Your connections<small class="text-muted"> Users, with whom you share likes</small></h2>
			  	<thead>
			    	<tr>
			      		<th class="col-md-auto" scope="col">Username</th>
			    	</tr>
			  	</thead>
			 	<tbody class="long">
			  	{% for like in my_likes %}
				    <tr>
				      <td class="col-md-auto"><a class="chat_person" href="/profile/{{like[0]}}">{{like[0]}}</a></td>
				      <td class="col-6 pl-5 text-center"><a class="btn btn-success" href="/chats/{{like[0]}}" role="button">START CHAT</a></td>
				    </tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}