<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		img {
			max-width: 40vw;
		}

		button {
			height: 5vh;
			width: 12vw;
			margin: 1vh;
		}

		a {
			text-transform: uppercase;
			text-decoration: none;
			color: black;
		}
	</style>
</head>
<body>
	<h1>Hello, {{arguments.my_username}},</h1>
	<p>You have just recieved a new like from <a href="{{url_for('profile', username=arguments.who_liked, _external = True)}}">{{ arguments.who_liked }}</a></p>
	<p>Go ahead and like {% if arguments.gender == Man %} him {% else %} her in response{% endif %} or see if you can now start a chat!</p>
	<p>All the best,</p>
	<p>Matcha team</p>

</body>
</html>