{% extends 'layout.html' %}

{% block body %}

<form method="POST" action="" class="jumbotron pt-3 mt-5">
	<h1>Reset password</h1>
	<br>
	<p>Enter your email address and we will send you a link to reset your password.</p>
	<div class="form-row">
		<div class="form-group col-md-6">
	      <label for="inputEmail4">Email</label>
	      <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email" pattern="[a-z0-9._+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" minlength="5" required>
	    </div>
	</div>
	<button type="submit" class="btn btn-success">Send password reset email</button>
</form>

{% endblock %}