<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		img {
			max-width: 40vw;
		}

		button {
			height: 5vh;
			width: 12vw;
			margin: 1vh;
		}

		a {
			text-transform: uppercase;
			text-decoration: none;
			color: black;
		}
	</style>
</head>
<body>
	<h1>There has been a new user report!</h1>
	<p>Report by: <a href="{{url_for('profile', username=arguments.username_reporting, _external = True)}}">{{ arguments.username_reporting }}</a></p>
	<p>User reported: <a href="{{url_for('profile', username=arguments.username_reported, _external = True)}}">{{ arguments.username_reported }}</a></p>
	<p>All the best,</p>
	<p>Matcha team</p>

</body>
</html>