<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		img {
			max-width: 40vw;
		}

		button {
			height: 5vh;
			width: 12vw;
			margin: 1vh;
		}

		a {
			text-transform: uppercase;
			text-decoration: none;
			color: black;
		}
	</style>
</head>
<body>
	<h1>Hello, {{arguments.username}}!</h1>
	<p>Please, follow the link to reset your password.</p><br>
	<button><a href="{{url_for('password_reset_finish', token=arguments.token, _external = True)}}">Reset password</a></button>
	<p>If you got this message by mistake, please, ignore it.</p>
	<p>All the best,</p>
	<p>Matcha team</p>

</body>
</html>