{% extends 'layout.html' %}

{% block body%}

<div class="card card-body profile-blocks mt-5">
	<div id="successAlertNotifications" class="alert alert-success hidden-alert" role="alert"></div>
	<div id="errorAlertNotifications" class="alert alert-danger hidden-alert" role="alert"></div>
	<form id="notification_form">
		<h3>I want to recieve e-mail notifications when...</h3>
		<div class="form-check">
			{% if settings['profile_check'] == 1 %}
			  	<input class="form-check-input" type="checkbox" value="" id="profile_check" checked>
			{% else %}
				<input class="form-check-input" type="checkbox" value="" id="profile_check" >
			{% endif %}
			<label class="form-check-label" for="profile_check">
			    Someone checks my profile
			  </label>
			</div>
			<div class="form-check">
			{% if settings['new_like'] == 1 %}
			  	<input class="form-check-input" type="checkbox" value="" id="new_like" checked>
			{% else %}
				<input class="form-check-input" type="checkbox" value="" id="new_like">
			{% endif %}
			  <label class="form-check-label" for="new_like">
			    I get a new like
			  </label>
			</div>
			<div class="form-check">
			{% if settings['unlike'] == 1 %}
				<input class="form-check-input" type="checkbox" value="" id="new_unlike" checked>
			{% else %}
				<input class="form-check-input" type="checkbox" value="" id="new_unlike">
			{% endif %}
			  <label class="form-check-label" for="new_unlike">
			    Someone unlikes me
			  </label>
			</div>
			<div class="form-check">
			{% if settings['mutual_like'] == 1 %}
				<input class="form-check-input" type="checkbox" value="" id="new_connection" checked>
			{% else %}
				<input class="form-check-input" type="checkbox" value="" id="new_connection">
			{% endif %}
			  <label class="form-check-label" for="new_connection">
			    I get a new connection
			  </label>
			</div>
			<div class="form-check">
			{% if settings['message'] == 1 %}
				<input class="form-check-input" type="checkbox" value="" id="new_message" checked>
			{% else %}
			<input class="form-check-input" type="checkbox" value="" id="new_message">
			{% endif %}
			  <label class="form-check-label" for="new_message">
			    I recieve a new message
			  </label>
			</div>
		<button type="submit" class="btn btn-warning btn-block mt-3">SAVE</button>
	</form>
</div>


{% endblock %}