body, html {
    background-color: rgb(254, 255, 247);
    display: block;
    position: relative;
    height: 100%;
}

nav {
	background-color: rgba(236, 242, 193, 0.5);
}


h1 {
	font-family: 'Oxygen', sans-serif;
}

p, a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3rem;
}

a {
	color: rgb(255, 193, 7);
}

a:hover {
	color: rgb(201, 152, 4);
	text-decoration: none;
}

.container-fluid {
	min-height: calc(100vh - 40px);
}

footer {
	background-color: rgba(236, 242, 193, 0.5);
	text-align: right;
	padding: 1rem;
    height: 40px;
}


.nav-link {
	color: black;
}

.nav-link:hover{
	border-bottom: solid #ffc107;
}

small { 
    font-size: small;
}

.profile-pic-small {
	width: 3vw;
}

.profile-card {
	background-color: white;
}

.border-left {
	border-left-width: 4px !important;
}

.card-img{
	width: 13vw;
}

.profile-pic-big {
	width: 60%;
}

.welcome_page {
	background-image: url("https://images.pexels.com/photos/347023/pexels-photo-347023.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box {
	background-color: rgba(255, 255, 255, 0.6);
}

.info-input {
	height: 9vh;
}

.btn-group-wrap {
    text-align: center;
    background-color: rgb(246, 247, 239);
}

div.btn-group {
    margin: 0 auto; 
    width: inherit;
    display: inline-block;
}

.short input {
	width: 4vw;
}

.short-1 input {
	width: 8vw;
}

.short-1 input {
	width: 10vw;
}

.profile-blocks {
	background-color: rgb(246, 247, 239);
}

.textarea {
	height: 13vh
}

.hidden-alert {
	display: none;
}

.profile-header {
	background-image: url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
	display: block;
	height: 500px;
}

.profile-header-blocks {
	background-color: rgba(201, 204, 185, 0.9);
	margin-bottom: -3rem;
	width: 18vw;
}

.profile-header-blocks p {
	font-size: 1.5rem;
}

.long {
	height: 60vh;
	display: block;
  	overflow: auto;
}

thead {
	display: block;
	background-color: rgb(236, 242, 193);
}

.header-text {
	height: 8vh;
}

.gallery_pic {
	height: 25vh;
}

.modal-body {
	width: 100%;
}

.modal-body img {
	width: 100%;
}

.modal-content {
	width: 100%;
}

.modal-dialog {
	max-width: 50vw;
}

.profile-info-block {
	background-color: white;
}

.profile-about-me-block {
	background-image: linear-gradient(to right, rgba(35, 137, 178, 0.2), rgba(199, 167, 28, 0.2));
}

.profile-about-target-block {
	background-image: linear-gradient(to left, rgba(35, 137, 178, 0.1), rgba(199, 167, 28, 0.1));
}

.chat {
	height: 60vh;
	display: block;
  	overflow: auto;
}

.notification {
	position: fixed;
}

.outer-div {
	text-align: center;
}

.error-gif {
	height: 45vh;
	margin: 0 auto;
	display: inline-block;
}

#map {
	height: 60vh;
	width: 70vw;
	margin: 0 auto;
	display: inline-block;
}

.text-message{
	max-width: 85%;
}

.my_navbar-toggler {
	background-image: url("/static/img/favicon.png");
}

.filters-navbar{
	background-image: url("/static/img/filters.png");
	width: 15vw;
	height: 10vh;
}


.card-text {
  	line-height: 0.7;
}

textarea {
	resize: vertical;
}

.stable {
	height: 100%;
}
